name: Scrape

on:
  schedule:
    - cron: "0 9 * * *" #8am every day UTC
  workflow_dispatch:
  
jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: '3.9'
    - run: pip install notebook requests bs4
    - name: Run scraper
      run: jupyter execute scrape.ipynb
      
    - name: Add and commit
      run: |
        git add .
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git commit -m "Latest data"
    - name: Push
      run: git push
    
